.lupa-navbar {
    background-color: rgba(255,255,255,0.7);
    border: none;
}


.lupa-slide-content {
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
}


.btn-primary {
    background-color: #484848;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #484848;
}


.videos-list-container h3 {
    border-bottom: 1px solid #ccc;
}


.videos-list-container {
    border-left: 1px solid #ddd;
}


.videos-list-container .row-video:hover {
    background-color: #eee;
}


.videos-list-container hr {
    border-color: #ccc;
}


.video-container {
    background-color: #f6f6f6;
    box-shadow: 0px 0px 5px 2px #bbb;
}


.navbar-default .navbar-nav > li > a {
    color: #484848;
    background-color: transparent;
    padding: 7px 10px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}


.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 1px solid #484848;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #484848;
    color: #fff;
    border: none;
}
