body {
    font-family: 'Ek Mukta', sans-serif;
    font-size: 16px;
    background-color: #000;
}


main.contact h2 {
    border-bottom: 1px solid #ccc;
}


.lang li > a:hover {
    background: transparent;
}


.lupa-navbar {
    border: none;
}


.lupa-slide-content,
.contact-content,
.faq-content {
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
}

.lupa-slide-content > hr {
    border: 1px solid #87563b;
}


.lupa-slide-content .btn-primary {
    font-weight: bold;
}


.lupa-carousel-indicator {
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6), 0px 0px 10px rgba(0,0,0,0.3) inset;
}


.lupa-carousel-indicator.active {
    background-color: #c0f47a;
}


.lupa-bold {
    color: #c0f47a;
}


.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    border: none;
    background-color: transparent;
    background-image: url("../data/img/orange-gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    color: #fff;
    border-radius: 0px;
    text-shadow: 2px 2px 4px #222;
}


.btn-primary:hover {
    box-shadow: 0px 0px 15px 4px rgba(248,93,0,0.5);
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
    background-color: transparent;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
}


.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
    color: #fff;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #fff;
    border: none;
    font-weight: bold;
}


.navbar-default .navbar-nav > li:not(:last-child){
    border-right: 2px solid #fff;
}

.img-brand {
    filter: drop-shadow(0px 0px 20px rgba(0,0,0, 0.6));
}


.btn-bold {
    font-weight: bold;
}


.service-carousel {
    cursor: pointer;
}

div.dark {
    background-color: #484848;
    color: #fff;
}


div.light {
    background-color: #fff;
    color: #484848;
}


div.brown {
    /*background-image: url("../data/img/brown-texture.jpg");*/
    background-color: #8e725c;
    color: #fff;
}


div.brown.service-row {
    background-size: 50% 100%;
}


.brown-gradient {
    background-image: url("../data/img/brown-gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    color: #fff;
}

hr.brown {
    border-color: #ab7d58;
    border-width: 2px;
}


.services-container .service-text {
    background-color: rgba(0,0,0, 0.7);
}

.services-container .service-text h3 {
    font-weight: bold;
}


.services-container .service-text-inner {
    border: 1px solid #fff;
}


.some-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.footer-upper {
    color: #fff;
    background-color: rgba(0,0,0, 0.7);
}

.footer-upper h2 {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}


.footer-upper hr {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}



.footer-nav > li > a,
.footer-nav > li > a:hover,
.footer-nav > li > a:focus,
.footer-nav > li > a:active,
.footer-nav > li > a:visited {
    color: #dbcab9;
    font-weight: bold;
    background-color: transparent;
    padding-left: 0px;
}

.footer-nav > li > a:hover,
.footer-nav > li > a:focus {
    text-decoration: underline;
}

a.some-link:hover,
a.some-link:focus,
a.some-link:active,
a.some-link:visited {
    color: #fff;
}

span.green {
    color: #c7f66c;
}


span.orange {
	color: #fd7e13;
}


.footer-email-input {
    border: none;
    color: #000;
}


.title-in-box {
    text-shadow: 2px 2px 2px #222;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}


.title-in-box a,
.title-in-box a:visited,
.title-in-box a:hover,
.title-in-box a:focus,
.title-in-box a:active {
    color: inherit;
    text-decoration: inherit;
}


.contact-bar {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


.contact-bar-component {
    font-weight: bold;
}


.contact-bar-component-separator {
    font-weight: bold;
}