main.contact h2 {
    border-bottom: 1px solid #ccc;
}

.lupa-navbar {
    background-color: rgba(255,255,255,0.8);
    border: none;
}


.lupa-slide-content {
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
}

.lupa-slide-content > hr {
    border: 1px solid #87563b;
}


.lupa-carousel-indicator.active {
    background-color: #c0f47a;
}


.lupa-bold {
    color: #c0f47a;
}


.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    background-color: #484848;
    border-color: #fff;
    color: #c0f47a;
}

.btn-primary:hover {
    background-color: #585858;
    border-color: #fff;
    color: #c0f47a;
}


.navbar-default .navbar-nav > li > a {
    color: #484848;
    background-color: transparent;
    padding: 7px 10px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}


.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #484848;
    color: #fff;
    border: none;
}


.btn-bold {
    font-weight: bold;
}


.service-carousel {
    cursor: pointer;
}

div.dark {
    background-color: #484848;
    color: #fff;
}


div.light {
    background-color: #fff;
    color: #484848;
}


.services-container .service-text h3 {
    font-weight: bold;
}


.some-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.footer-upper {
    background-color: #b5927d;
    color: #fff;
}

.footer-upper h2 {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

a.some-link:hover,
a.some-link:focus,
a.some-link:active,
a.some-link:visited {
    color: #fff;
}


@media (max-width: 768px) {
    hr.service-separator {
        border: 1px solid #dfdfdf;
    }
}
