#main-container {
    position: relative;
}


#layout-container {
	max-width: 1000px;
	margin: auto;
	float: none;
}


.navbar-brand-lupa img {
    width: 100%;
}


main {
    padding: 0px;
}

main.contact h2 {
    padding-bottom: 2px;
}


.logo-container {
    display: inline-block;
    width: 130px;
    height: 43px;
    padding: 5px 0 0 5px;
    overflow: visible;
}


.logo-wrapper-link {
    display: block;
    overflow: visible;
}


.nav-container__logo-img {
    filter: drop-shadow(0px 0px 20px rgba(0,0,0, 0.6));
}


@media (min-width: 1170px) {
    .logo-container {
        display: inline-block;
        width: 300px;
        height: auto;
        padding: 5px 0 0 5px;
    }
}


header {
    margin-left: -15px;
    margin-right: -15px;
}


.front-main,
.contact,
.faq {
    position: relative;
    z-index: 2;
}


.contact {
	margin-top: 30px;
}

.contact-content {
	padding: 20px;
	margin-bottom: 10px;
}


.nav-container > .container-fluid,
.lang-sm-container {
    padding-left: 0px;
    padding-right: 0px;
}


.img-bar-img, .gallery-img {
    margin-bottom: 1em;
}


.lang.downsize > li + li {
    margin-left: .5em;
}


.lang.nav-stacked > li + li {
    margin-top: .5em;
}


.lang > li:first-child > a {
    padding-left: 0px;
}


.lang.downsize > li:first-child > a {
    padding-left: 15px;
}


.lang.downsize > li > a {
    padding-bottom: .2em;
    padding-top: .2em;
    padding-right: 15px;
}


.lang-top {
    position: relative;
    z-index: 2;
}


img.lang-flag {
    width: 40px;
}


.ajax-spinner {
    opacity : 0;
}


/* Hidden captcha */
.contact-url {
    height: 1px;
    width: 1px;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    position: absolute;
}


.lupa-nav-links li > a {
    padding: 7px;
}


.lupa-nav-links li:last-child > a {
    padding-right: 0px;
}


.lupa-slide-content > hr {
    width: 15em;
}


.lupa-slide-content {
    padding: 120px 15px 100px 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}


.lupa-slide-content-btn {
    margin: 10px 0px 0px 0px;
    font-size: 26px;
    padding: 8px;
    border-radius: 0px;
}


.lupa-slide-content p {
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
    margin-bottom: 0px;
}

.lupa-slide-content p + p {
    margin-top: 10px;
}

.lupa-slide-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
}


.lupa-slide-image {
    width: 100%;
}


.navbar-default {
    width: 100%;
}


.no-padding {
    padding: 0px;
}

.some-row {
    margin-top: 14px;
}


.some-link img {
    width: 34px;
    padding-bottom: 4px;
}


.parent-height {
    height: 100%;
    max-height: 100%;
}


.footer-upper h2 {
    font-size: 18px;
}


.footer-upper hr {
    padding: 0px;
    margin: 0px;
}


.footer-upper {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    position: relative;
    z-index: 2;
}


.footer-upper-inner {
    margin-top: 10px;
}


.phone-number-sm,
.email-sm {
    margin-bottom: 10px;
}


address {
    margin-bottom: 0px;
}


.footer-email-input {
    border-radius: 0px;
    padding: 6px;
    font-size: 14px;
    max-width: 55%;
}


.footer-submit-btn {
    max-width: 40%;
}


.footer-submit-btn-xs {
    margin-top: 5px;
}

.img-brand-sm {
    height: 35px;
    margin-top: 6px;
}


.contact-bar-component + .contact-bar-component {
    margin-left: 5px;
}

.contact-bar-component,
.contact-bar-component-separator {
    font-size: 24px;
}

.contact-bar-component-separator{
    padding: 0px 7px 0px 7px;
}


.contact-bar {
    margin-top: 20px;
    padding: 6px 0px 6px 0px;
    text-align: center;
}


.faq-answers {
    margin-top: 5px;
}


.faq-answer {
    margin-top: 5px;
}

.faq-title {
    margin: 15px 0 0 0;
}


.video-playlist-list__thumbnail {
    margin-bottom: 10px;
}


.row-video:last-child .video-playlist-list__thumbnail {
    margin-bottom: 0;
}


.videos-playlist {
    margin-bottom: 15px;
}


.navbar-toggle-img {
    width:100%;
}


.navbar-toggle-img-btn {
    padding:0;
    width: 34px;
    margin: 8px;
}


.navbar-toggle-img-btn-container {
    margin:0;
    border-radius:0px;
}


.nav-flyout {
    font-size: 18px;
    padding: 15px;
    max-width: 100%;
    margin: 0;
}


.ptm {
    padding-top: 10px;
}


.pts {
    padding-top: 5px;
}


.pbm {
    padding-bottom: 10px;
}


.navbar-container {
    text-align: right;
    float: right;
    height: 111px;
    padding: 5px;
}


.navbar-mobile-container {
    width: 30%;
    text-align: center;
    height: 50px;
    float: right;
}

.nav-flyout .navbar-nav > li {
    float: none;
}

.navbar-container .navbar-nav > li {
    display: block;
    clear: both;
    font-size: 14px;
}


.title-bar {
    padding-top: 8px;
}


.title-bar-subtitle {
    font-size: 10px;
    text-transform: uppercase;
    padding:0;
    margin:0;
    position: relative;
    top: -10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.title-bar-title-text {
    font-size: 20px;
}


.title-bar-decor {
    line-height: 1;
    margin-top: 5px;
}


.title-bar-title-left {
    padding-left: 0;
}


.title-bar-title-right {
    padding-right: 0;
}


.service-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.service-image__full-layer {
    width: 100%;
    position: absolute;
    z-index: 9999;
}

.service-image__full-layer {
    bottom:0;
}

.service-image__full-layer__img {
    width: 100%;
    float: left;
}


.service-image__img {
    width: 100%;
    position: relative;
    right: 20%;
}

.service-text__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.service-image__subtitle {
    position: absolute;
    z-index: 9999;
    right: 11.3%;
    bottom: 33%;
    padding-bottom: 1.4%;
    text-align: center;
    width: 16%;
}

.service-image__subtitle__words_container {
    padding: 8px 0 0 0;
}

.service-image__subtitle__img {
    width: 60px;
}


.service-image__subtitle__word {
    display: block;
    font-size: 24px;
}


.service-image__subtitle__hr {
    margin:0;
    width: 100%;
}


.service-image__subtitle__hr-full {
    margin:0;
    width: 200%;
    position: relative;
    top: -2px;
}


.content-text-padding {
    padding-left: 20px;
    padding-right: 20px;
}
    
@media (max-width: 1170px) { 
    .lupa-slide-content {
        padding-top: 80px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 88px;
    }
    
    .lupa-slide-content p {
        font-size: 22px;
        max-width: 636px;
    }
    
    .lupa-slide-content-btn {
        font-size: 22px;
    }
}


@media (max-width: 992px) {
    .lupa-slide-content {
        padding-bottom: 60px;
        padding-top: 80px;
    }
    
    
    .service-image__subtitle__word {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .lupa-nav-links {
        padding-top: 0;
    }
    
    
    .footer-email-input {
        max-width: none;
    }
    
    
    .lupa-slide-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    
    .lupa-slide-content p {
        font-size: 14px;
        max-width: 398px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 55px;
    }
    
    
    .lupa-slide-content-btn {
        font-size: 16px;
        padding: 8px 8px 6px 8px;
    }
    
    .service-image__subtitle__word {
        font-size: 15px;
    }
    
    
    .service-image__subtitle__img {
        width: 30px;
    }
}


@media (max-width: 600px) {
    .lupa-slide-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .service-image__subtitle__word {
        font-size: 12px;
    }
}


@media (max-width: 440px) {
    .lupa-slide-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .lupa-slide-content p {
        font-size: 12px;
        letter-spacing: .05em;
        max-width: 354px;
    }
    
    
    .lupa-slide-content-btn {
        font-size: 14px;
        margin-top: 0;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 49px;
    }
    
    
    .title-bar-subtitle {
        font-size: 8px;
    }
    
    
    .title-bar-title-text {
        font-size: 16px;
    }
    
    
    .title-bar-decor {
        line-height: .9;
    }
    
    .service-image__subtitle__word {
        font-size: 10px;
    }
}


@media (max-width: 400px) {
    .lupa-slide-content h3 {
        font-size: 47px;
    }
    
    
    .lupa-slide-content p {
        letter-spacing: .03em;
        max-width: 340px;
    }
    
    
    .service-image__subtitle__word {
        font-size: 9px;
    }
}


@media (max-width: 380px) {
    .lupa-slide-content p {
        font-size: 10px;
        letter-spacing: .05em;
        max-width: 296px;
    }
    
    
    .lupa-slide-content-btn {
        font-size: 12px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 41px;
    }
    
    .service-image__subtitle__word {
        font-size: 8px;
    }
}


@media (max-width: 339px) {
    .lupa-slide-content p {
        font-size: 9px;
        letter-spacing: .07em;
        max-width: 282px;
    }
    
    
    .lupa-slide-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .lupa-slide-content-btn {
        font-size: 11px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 38px;
    }
}
