#main-container {
    position: relative;
}


#layout-container {
	max-width: 1000px;
	margin: auto;
	float: none;
}


.navbar-brand-lupa img {
    width: 100%;
}


main {
    padding: 0px;
}

main.contact h2 {
    padding-bottom: 2px;
}


.logo-container {
    width: 300px;
    display: inline-block;
}


header {
    margin-left: -15px;
    margin-right: -15px;
}


.front-main,
.contact,
.faq {
    position: relative;
    z-index: 2;
}


.contact,
.faq {
	margin-top: 30px;
}

.contact-content {
	padding: 20px;
	margin-bottom: 10px;
}


.nav-container > .container-fluid,
.lang-sm-container {
    padding-left: 0px;
    padding-right: 0px;
}


.img-bar-img, .gallery-img {
    margin-bottom: 1em;
}


.lang.downsize > li + li {
    margin-left: .5em;
}


.lang.nav-stacked > li + li {
    margin-top: .5em;
}


.lang > li:first-child > a {
    padding-left: 0px;
}


.lang.downsize > li:first-child > a {
    padding-left: 15px;
}


.lang.downsize > li > a {
    padding-bottom: .2em;
    padding-top: .2em;
    padding-right: 15px;
}


.lang-top {
    position: relative;
    z-index: 2;
}


img.lang-flag {
    width: 40px;
}


.ajax-spinner {
    opacity : 0;
}


/* Hidden captcha */
.contact-url {
    height: 1px;
    width: 1px;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    position: absolute;
}


.lupa-nav-links li > a {
    padding: 7px 15px;
}


.lupa-nav-links li:last-child > a {
    padding-right: 0px;
}


.lupa-slide-content > hr {
    width: 15em;
}


.lupa-slide-content {
    padding: 120px 15px 100px 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}


.lupa-slide-content .btn-primary {
    margin: 10px 0px 0px 0px;
    font-size: 26px;
}


.lupa-slide-content p {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.lupa-slide-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
}


.lupa-slide-image {
    width: 100%;
}


.navbar-default {
    width: 100%;
}


.no-padding {
    padding: 0px;
}

.some-row {
    margin-top: 14px;
}


.some-link img {
    width: 34px;
    padding-bottom: 4px;
}


.parent-height {
    height: 100%;
    max-height: 100%;
}


.footer-upper h2 {
    font-size: 18px;
}


.footer-upper hr {
    padding: 0px;
    margin: 0px;
}


.footer-upper {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    position: relative;
    z-index: 2;
}


.footer-upper-inner {
    margin-top: 10px;
}


.phone-number-sm,
.email-sm {
    margin-bottom: 10px;
}


address {
    margin-bottom: 0px;
}


.footer-email-input {
    border-radius: 0px;
    padding: 6px;
    font-size: 14px;
    max-width: 55%;
}


.footer-submit-btn {
    max-width: 40%;
}


.footer-submit-btn-xs {
    margin-top: 5px;
}


.footer-img {
    position: absolute;
    bottom: 47px;
    width: 100%;
    z-index: 1;
    margin-left: -15px;
}


.footer-img-inner {
    width: 100%;
}


.footer-img img {
    width: 100%;
}


.img-brand-sm {
    height: 35px;
    margin-top: 6px;
}


.title-in-box {
    font-size: 30px;
    padding: 10px 15px 10px 15px;
    margin: 8px 0px 8px 0px;
    line-height: 1;
}


.title-in-box a {
    display: block;
}


.contact-bar-component + .contact-bar-component {
    margin-left: 5px;
}

.contact-bar-component,
.contact-bar-component-separator {
    font-size: 24px;
}

.contact-bar-component-separator{
    padding: 0px 7px 0px 7px;
}


.contact-bar {
    margin-top: 20px;
    padding: 6px 0px 6px 0px;
    text-align: center;
}


.faq-answers {
    margin-top: 15px;
}


.faq-answer {
    margin-top: 10px;
}


.faq-answer-text {
    padding-left: 10px;
}


.video-playlist-list__thumbnail {
    margin-bottom: 10px;
}


.row-video:last-child .video-playlist-list__thumbnail {
    margin-bottom: 0;
}


.videos-playlist {
    margin-bottom: 15px;
}


.navbar-toggle-img {
    width:100%;
}


.navbar-toggle-img-btn {
    padding:0;
    width: 65px;
    margin:15px;
}


.navbar-toggle-img-btn-container {
    margin:0;
    border-radius:0px;
}


.nav-flyout {
    font-size: 18px;
    padding: 15px;
    max-width: 100%;
    margin: 0;
}


.ptm {
    padding-top: 10px;
}


.pbm {
    padding-bottom: 10px;
}


.navbar-padded {
    padding: 5px
}


.navbar-container {
    text-align: right;
    float: right;
}


.navbar-mobile-container {
    width: 30%;
    text-align: center;
    height: 58px;
    float: right;
}


.title-bar-subtitle {
    font-size: 10px;
    text-transform: uppercase;
    padding:0;
    margin:0;
    position: relative;
    top: -10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.title-bar-title-text {
    font-size: 20px;
}


.title-bar-decor {
    line-height: 1;
    margin-top: 5px;
}


.title-bar-title-left {
    padding-left: 0;
}


.title-bar-title-right {
    padding-right: 0;
}


.service-image {
    width: 100%;
}

.service-image__img {
    width: 100%;
}

.service-text__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

    
@media (max-width: 1170px) { 
    .lupa-slide-content {
        padding-top: 80px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 78px;
    }
    
    .lupa-slide-content p {
        font-size: 20px;
        width: 580px;
    }
}


@media (max-width: 992px) {
    .lupa-slide-content {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    
    
    .lupa-slide-content p {
        width: 580px;
        font-size: 20px;
    }
    
    
    .lupa-slide-content .btn-primary {
        font-size: 20px;
    }
    
    
    .logo-container {
        width: 150px;
        height: 50px;
        padding: 5px 0 0 5px;
    }
    
    
    .navbar-toggle-img-btn {
        width: 39px;
        margin: 10px;
    }
}


@media (max-width: 768px) {
    .lupa-nav-links {
        padding-top: 0;
    }
    
    
    .footer-email-input {
        max-width: none;
    }
}


@media (min-width: 500px) and (max-width: 768px) {
    .lupa-slide-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    .lupa-slide-content p {
        width: 450px;
        font-size: 16px;
    }
    
    
    .lupa-slide-content .btn-primary {
        font-size: 16px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 58px;
    }
}


@media (min-width: 370px) and (max-width: 500px) {
    .lupa-slide-content p {
        width: 350px;
        font-size: 12px;
    }
    
    
    .lupa-slide-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    .lupa-slide-content .btn-primary {
        font-size: 12px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 46px;
    }
}


@media (max-width: 440px) {
    .lupa-slide-content p {
        max-width: 350px;
        width: auto;
    }
    
    
    .lupa-slide-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .lupa-slide-content p {
        font-size: 12px;
    }
    
    
    .lupa-slide-content .btn-primary {
        font-size: 12px;
        margin-top: 0;
        padding: 8px 13px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 42px;
    }
    
    
    .title-bar-subtitle {
        font-size: 8px;
    }
    
    
    .title-bar-title-text {
        font-size: 16px;
    }
    
    
    .title-bar-decor {
        line-height: .9;
    }
}


@media (max-width: 339px) {
    .lupa-slide-content p {
        max-width: 350px;
        width: auto;
    }
    
    
    .lupa-slide-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .lupa-slide-content p {
        font-size: 10px;
    }
    
    
    .lupa-slide-content .btn-primary {
        font-size: 10px;
        margin-top: 0;
        padding: 8px 13px;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 38px;
    }
}
