main {
    padding: 20px 1em;
}


.img-bar-img, .gallery-img {
    margin-bottom: 1em;
}


.lang.downsize > li + li {
    margin-left: .5em;
}


.lang.nav-stacked > li + li {
    margin-top: .5em;
}


.lang.downsize > li > a {
    padding-bottom: .2em;
    padding-top: .2em;
}


img.lang-flag {
    width: 30px;
}


#ajax-spinner {
    opacity : 0;
}


/* Hidden captcha */
.contact-url {
    height: 1px;
    width: 1px;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.img-brand {
    width: 200px;
}

.navbar-brand-lg {
    height:auto;
}


.lupa-nav-links {
    margin-top: 30px;
}


.front-page-carousel-container {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    z-index: 1;
}


.lupa-slide-content > hr {
    width: 15em;
}


.lupa-slide-content {
    bottom: 30%;
    padding: 15px 10px;
    font-size: 16px;
}


.lupa-slide-image {
    width: 100%;
}


.lupa-navbar {
    position: relative;
    top: 20px;
    z-index: 2;
    height: 100px;
    border-radius: 0px;
    margin-bottom: 0px;
}


.service-container {
    height: 300px;
}


.service-carousel,
.service-text {
    height: 100%;
}

.service-img {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.service-img img {
    height: 300px;
    max-height: 300px;
}


@media (max-width: 1200px) {
    .lupa-slide-content {
        padding: 10px;
        bottom: 20%;
    }
}

@media (max-width: 992px) {
    .logo-img {
        padding-bottom: 20px;
    }
    
    .front-page-carousel-container {
        top: 0px;
    }
    
    .lupa-slide-content {
        padding: 10px;
        bottom: 20%;
    }
}



@media (max-width: 768px) {
    .lupa-nav-links {
        padding-top: 0;
    }
    
    .lupa-navbar {
        height: auto;
    }
    
    .lupa-slide-content {
        padding: 0px 4px;
        font-size: 11px;
        bottom: 10%;
    }
    
    
    .lupa-slide-content h3 {
        font-size: 14px;
        margin-top: 4px;
    }
}
