<!DOCTYPE html>
<html lang="{{ __lang }}">
    <!-- {{ "now"|date("Y") }} Matias Larsson -->
    <!-- Graphical design by Eero Hynninen -->
    <head>
        {% block head %}
            {% if __scale_mobile %}
                <meta name="viewport" content="initial-scale=1, maximum-scale=1">
            {% endif %}
            
            <link rel="stylesheet" href="{{ __base_uri }}/lib/bootstrap-3.3.6/css/bootstrap.min.css">
            
            {% block head_extra %}{% endblock %}
            
            <link rel="stylesheet" href="{{ __base_uri }}/css/layout.{{ __css_src_mode }}.css?v={{ __css_src_version }}">
            <link rel="stylesheet" href="{{ __color_css_uri }}">
            
            <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet"> 
            
            <title>{{ __contact_info.name }} - {% block title %}{% endblock %}</title>
            
            {% if __all_lang_links|length > 0 and allow_hreflang %}
                {% set __lang_link_action = "" %}
                {% for link in __all_lang_links %}
                    {% set __lang_link_action = link.get_action %}
                    
                    <link rel="alternate" href='{{ __base_uri }}/{{ link.get_language }}/{{ __lang_link_action }}' hreflang="{{ link.get_language }}">
                {% endfor %}
                    
                    <link rel="alternate" href='{{ __base_uri }}/{{ __lang_link_action }}' hreflang="x-default">
            {% endif %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid" id="main-container">
            <div class="row">
                <div id="layout-container" class="col-xs-12">
                    
                    <div class="row">
                        <div class="col-xs-12">
                            {% include "nav.html" %}
                        </div>
                    </div>
                    
                    <div class="row">
                       <div class="col-xs-12">
                            {% block content %}{% endblock %}
                       </div>
                    </div>
                        
                    <div class="row footer-upper">
                        <div class="col-xs-12 footer-upper-inner content-text-padding">
                            {% if __strings.news_content|length > 0 %}
                            <div class="row" id="news">
                                <div class="col-xs-12">
                                    <h3><b class="text-uppercase">{{ __strings.news_title }}</b></h3>
                                    {% for p in __strings.news_content|split("\n") %}
                                        <p>{{ p }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <hr>
                            <div class="row" id="contact">
                                <div class="col-xs-12 col-sm-5">
                                    <h3><b class="text-uppercase">{{ __strings.contact_info_title|raw }}</b></h3>
                                    <p>{{ __strings.contact_prompt }}</p>
                                    <div class="row">
                                        <div class="col-xs-12" data-form-content>
                                            <div data-contact-feedback>
                                                &nbsp;
                                            </div>
                                            {% include "contact_form.html" %}
                                        </div>
                                    </div>
                                    
                                    <div class="row some-row">
                                        <div class="col-xs-12">
                                            <a class="some-link" href="{{ __facebook_page_url }}"><img src="{{ __base_uri }}/data/img/facebook.png" alt="Facebook" title="Facebook page">
                                            &nbsp;{{ __contact_info.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <h3><b class="text-uppercase">{{ __strings.name_short|raw }}</b></h3>
                                    {{ __strings.footer_promo|raw }}
                                    <div class="row">
                                        <div class="col-xs-6 pr0">
                                            <a href="https://www.asiakastieto.fi/yritykset/fi/lansi-uudenmaan-puuapu-oy/28997068/yleiskuva" title="Asiakastieto">
                                                <img class="img-responsive" alt="AA Luottoluokitussertifikaatti" src="{{ __base_uri }}/data/img/SV_AA_LOGO_Lansi_Uudenmaan_PuuApu_Oy_{{ __lang|upper }}_395401_web.jpg" />
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <a href="https://www.tilaajavastuu.fi/?yt=2899706-8">
                                                        <img class="img-responsive" src="https://www.tilaajavastuu.fi/wp-content/uploads/2013/10/lk_logo.png" alt="LuotettavaKumppaniyritys"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ptm">
                                                    <img class="img-responsive" src="{{ __base_uri }}/data/img/sy_jasenyritys_2019_su_200x100_0.png" title="Suomen Yrittäjät -jäsenyritys" alt="Suomen Yrittäjät -jäsenyritys">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 ptm">
                                                    <img class="img-responsive" src="{{ __base_uri }}/data/img/2010_netti_SPYYrityslogo.png" title="Suomen Puunhoidon Yhdistys ry" alt="Suomen Puunhoidon Yhdistys ry">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <h3><b class="text-uppercase">{{ __strings.footer_navigation|raw }}</b></h3>
                                    <nav>
                                        <ul class="nav footer-nav">
                                            {% for link in __nav_links %}
                                                {% set href = ( link.is_page ? [ __base_uri, __lang, link.get_action ]|join("/") : link.get_action ) %}
                                                <li><a href='{{ href }}' title="{{ link.get_text }}">{{ link.get_text }}&nbsp;&raquo;</a></li>
                                            {% endfor %}
                                            {% if __lang == "fi" %}
                                                <li><a href="{{ __base_uri }}/puunkaato" title="Puunkaato">Puunkaato&nbsp;&raquo;</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="contact-bar">
                                        <span class="contact-bar-component">{{ __strings.name_short|striptags }}</span>
                                        <span class="contact-bar-component-separator">•</span>
                                        
                                        <span class="contact-bar-component">{{ __contact_info.address }}, {{ __contact_info.postal_code }} {{ __contact_info.city }}</span>
                                        <span class="contact-bar-component-separator">•</span>
                                        
                                        <span class="contact-bar-component">{{ __contact_info.phone_number }}</span>
                                        <span class="contact-bar-component-separator">•</span>
                                        
                                        <span class="contact-bar-component"><img src="{{ __base_uri }}/data/img/contact-bar/em.png" alt=""></span>
                                        <span class="contact-bar-component-separator">•</span>
                                        
                                        <span class="contact-bar-component">Y: {{ __contact_info.business_id }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="footer">
                        <div class="col-xs-6">
                            <ul class="nav nav-pills lang">
                            {% for link in __lang_links %}
                                <li><a title="{{ link.get_language }}" href='{{ __base_uri }}/{{ link.get_language }}/{{ link.get_action }}'><img class="lang-flag" alt="{{ link.get_language }}" src="{{ __base_uri }}/data/img/flag-{{ link.get_language }}.png"></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-6 text-right">
                            <img class="img-brand-sm" alt="{{ __contact_info.name }}" src="{{ __small_logo_uri }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="navbar-default navbar-nav nav-flyout hidden bg-green" id="navbarCollapse">
            <ul class="nav navbar-nav lupa-nav-links">
            {% for link in __nav_links %}
                {% set href = ( link.is_page ? [ __base_uri, __lang, link.get_action ]|join("/") : link.get_action ) %}
                <li {{ link.is_active ? "class='active'" : "" }}>
                    <a href='{{ href }}' title="{{ link.get_text }}">
                        <span data-link-text>{{ link.get_text }}</span><span class="sr-only"> (current)</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        
        <script src="{{ __base_uri }}/lib/jquery-1.12.1/jquery-1.12.1.min.js"></script>
        <script src="{{ __base_uri }}/lib/bootstrap-3.3.6/js/bootstrap.min.js"></script>
        <script src="{{ __base_uri }}/js/wp.{{ __js_src_mode }}.js?v={{ __js_src_version }}" defer></script>
        <script src="{{ __base_uri }}/js/contact.{{ __js_src_mode }}.js?v={{ __js_src_version }}" defer></script>
        <script>
            // all AJAX shall actually be asynchronous (duh)
            $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                options.async = true;
            });
            
            
            $(document).ready(function() {
                $(".lang li > a").mouseenter(function() {
                    var img = $(this).find("img");
                    img.attr("src", img.attr("src").replace(".png", "-hover.png"));
                }).mouseleave(function() {
                    var img = $(this).find("img");
                    img.attr("src", img.attr("src").replace("-hover.png", ".png"));
                });
            });
            
            !function($) {
                $(document).ready(function() {
                    wp.contact.init();
                });
            }(jQuery);
        </script>
        
        <!-- Google Analytics -->
        {% if __ga %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-97038913-1', 'auto');
          ga('set', 'anonymizeIp', true);
          ga('send', 'pageview');
        </script>
        {% endif %}
        {% block js_link %}{% endblock %}
    </body>
</html>
