<!DOCTYPE html>
<html lang="{{ __lang }}">
    <!-- {{ "now"|date("Y") }} Matias Larsson -->
    <!-- Graphical design by Eero Hynninen -->
    <head>
        {% block head %}
            {% if __scale_mobile %}
                <meta name="viewport" content="initial-scale=1, maximum-scale=1">
            {% endif %}
            
            <link rel="stylesheet" href="{{ __base_uri }}/lib/bootstrap-3.3.6/css/bootstrap.min.css">
            
            <script src="{{ __base_uri }}/js/wp.js"></script>
            
            {% block head_extra %}{% endblock %}
            
            <link rel="stylesheet" href="{{ __base_uri }}/css/layout.css">
            <link rel="stylesheet" href="{{ __color_css_uri }}">
            
            <title>{% block title %}{% endblock %} - {{ __contact_info.name }}</title>
            
            <script src="{{ __base_uri }}/lib/jquery-1.12.1/jquery-1.12.1.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div class="row lang-top"><!-- lang -->
                    {% include "lang_sm.html" %}
                </div>
                {% include "nav.html" %}
                {% block header_content %}{% endblock %}
            </header>
            <div class="row">
               <div class="col-xs-12">
                {% block content %}{% endblock %}
               </div>
            </div>
            
            <div class="row dark footer-upper">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2 footer-upper-inner">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <h3><b>{{ __strings.contact_info_title }}</b></h3>
                            <img class="phone-number-sm" src="{{ __base_uri }}/data/img/pn-sm.png" alt=""><br>
                            <img class="email-sm" src="{{ __base_uri }}/data/img/em-sm.png" alt=""><br>
                            
                            <div class="row dark some-row">
                                <div class="col-xs-12">
                                    <a class="some-link" href="{{ facebook_page_url }}"><img src="{{ __base_uri }}/data/img/facebook.png" alt="Facebook" title="Facebook page">
                                    &nbsp;{{ __contact_info.name }}</a>
                                </div>
                            </div>
                            <hr class="hidden-md hidden-lg">
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <h3><b>{{ __strings.name_short }}</b></h3>
                            <p>{{ __strings.footer_promo }}</p>
                            <hr class="hidden-md hidden-lg">
                        </div>
                        <div class="col-xs-12 col-md-3 col-md-offset-1">
                            <h3><b>{{ __strings.footer_navigation }}</b></h3>
                            <nav>
                                <ul class="nav footer-nav">
                                    {% for link in __nav_links %}
                                        <li><a href='{{ __base_uri }}/{{ __lang }}/{{ link.get_action }}' title="{{ link.get_text }}">{{ link.get_text }}&nbsp;&raquo;</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" id="footer">
                <div class="col-xs-12 brown">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                            <ul class="nav nav-pills lang">
                            {% for link in __lang_links %}
                                <li><a title="{{ link.get_language }}" href='{{ __base_uri }}/{{ link.get_language }}/{{ link.get_action }}'><img class="lang-flag" alt="{{ link.get_language }}" src="{{ __base_uri }}/data/img/flag-{{ link.get_language }}.png"></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{{ __base_uri }}/lib/bootstrap-3.3.6/js/bootstrap.min.js"></script>
        <script>
            // all AJAX shall actually be asynchronous (duh)
            $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                options.async = true;
            });
        </script>
        {% block js_link %}{% endblock %}
    </body>
</html>
