{% if errors.__csrf_token is defined %}
<div class="alert alert-danger">{{ errors.__csrf_token }}</div>
{% endif %}

<form method="post" action="{{ __base_uri }}/{{ __lang }}/contact_submit" class="form-horizontal" data-contact-form>
    <input type="hidden" name="__csrf_token" value="" data-csrf-token>
    <input type="hidden" data-is-ajax-input name="is_ajax" value="0">
    <input type="text" name="url" class="contact-url" value="{{ prefill.url }}" autocomplete="off">
    <div class="form-group {{ errors.name is defined ? 'has-error': '' }}">
        <label for="name" class="col-sm-4">{{ __strings.field_name }}</label>
        <div class="col-sm-8">
            <input type="text" id="name" name="name" class="form-control" value="{{ prefill.name }}" required>
            {% if errors.name is defined %}
                <span class="help-block">{{ errors.name }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group {{ errors.email is defined ? 'has-error': '' }}">
        <label for="email" class="col-sm-4">{{ __strings.field_email }}</label>
        <div class="col-sm-8">
            <input type="email" id="email" name="email" class="form-control" value="{{ prefill.email }}" required>
            {% if errors.email is defined %}
                <span class="help-block">{{ errors.email }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group {{ errors.subject is defined ? 'has-error': '' }}">
        <label for="subject" class="col-sm-4">{{ __strings.field_subject }}</label>
        <div class="col-sm-8">
            <input type="text" id="subject" name="subject" class="form-control" value="{{ prefill.subject }}" required>
            {% if errors.subject is defined %}
                <span class="help-block">{{ errors.subject }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group {{ errors.message is defined ? 'has-error': '' }}">
        <label for="message" class="col-xs-12">{{ __strings.field_message }} <button type="button" class="btn btn-link" title="{{ __strings.placeholder.message }}" data-contact-help-btn>[ ? ]</button></label>
        <div class="hidden col-xs-12" data-contact-help-content>{{ __strings.placeholder.message }}</div>
        <div class="col-xs-12">
            <textarea id="message" name="message" class="form-control" rows="4" minlength="4" required placeholder="{{ __strings.placeholder.message }}">{{ prefill.message }}</textarea>
            {% if errors.message is defined %}
                <span class="help-block">{{ errors.message }}<span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <p>{{ __strings.contact_policy }}</p>
            <input type="text" name="company" class="contact-url" value="{{ prefill.company }}" autocomplete="off">
            
            <button type="submit" class="btn btn-primary bg-green text-uppercase"><b>{{ __strings.submit }}</b></button>
            <img data-ajax-spinner class="ajax-spinner" src="{{ __base_uri }}/data/img/ajax-spinner.gif" alt="">
        </div>
    </div>
</form>
