{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main>
    <div class="row">
        <hr style="visibility: hidden;">
        <div class="col-md-5">
            <address>
                Länsiuudenmaan PuuApu<br>
                Malminkatu 16<br>
                08150 Lohja
            </address>
        </div>
        
        <div class="col-md-7" id="form-content">
            <h2>{{ strings.contact_form_title }}</h2>
            <div id="feedback">
                &nbsp;
            </div>
            {% include "contact_form.html" %}
        </div>
    </div>
</main>
{% endblock %}
