<div data-cookie-consent-prompt class="cookie-consent-prompt hidden">
    {{ __strings.cookie_consent_body.first|raw }}
    
    <div class="cookie-consent-prompt hidden__buttons">
        <button class="cookie-consent-prompt hidden__buttons__allow" data-cookie-consent-allow-btn>{{ __strings.cookie_consent_body.allow_btn }}</button>
        <button class="cookie-consent-prompt hidden__buttons__deny" data-cookie-consent-deny-btn>{{ __strings.cookie_consent_body.deny_btn }}</button>
    </div>
    
    {{ __strings.cookie_consent_body.second|raw }}
</div>