{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block header_content %}
<div class="front-page-carousel-container">
    <div class="carousel slide" data-ride="carousel" data-interval="8000" id="frontPageCarousel">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
        {% for ix, slide in slides %}
            <li data-target="#frontPageCarousel" data-slide-to="{{ ix }}" class="lupa-carousel-indicator {{ loop.first ? 'active' : '' }}"></li>
        {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        {% for slide in slides %}
            <div class="item {{ loop.first ? 'active' : '' }} lupa-slide">
                {{ slide.get_html|raw }}
            </div>
        {% endfor %}
            <div class="carousel-caption lupa-slide-content">
            <h3>{{ strings.slideshow_caption_title }}</h3>
            <p>{{ strings.slideshow_caption_paragraph|nl2br }}</p>
        </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#frontPageCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#frontPageCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{{ __base_uri }}/lib/slick-1.6.0/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ __base_uri }}/lib/slick-1.6.0/slick/slick-theme.css"/>
{% endblock %}

{% block content %}
<main>
    <div class="row">
        <div class="col-xs-12 services-container">
        {% for service in services %}
            {% include loop.index % 2 == 0 ? "service__text_left.html" : "service__text_right.html" %}
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block js_link %}
    <script type="text/javascript" src="{{ __base_uri }}/lib/slick-1.6.0/slick/slick.min.js"></script>
    <script src="{{ __base_uri }}/js/service-carousels.{{ __js_src_mode }}.js?v={{ __js_src_version }}"></script>
{% endblock %}
