{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="{{ __base_uri }}/lib/mediaelement-4.2.7/build/mediaelementplayer.min.css" />
{% endblock %}

{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main class="front-main">
    <div class="row">
        <div class="col-xs-12 fp-banner-image">
            <div class="row">
                <div class="col-xs-12 lupa-slide-content bg-fp-banner-filter content-text-padding">
                    <h3><b>{{ strings.slideshow_caption_title|raw }}</b></h3>
                    {{ strings.slideshow_caption_paragraph|raw }}
                    <a class="btn btn-lg btn-primary bg-green text-uppercase lupa-slide-content-btn" href="#contact">{{ strings.contact_us }}</a>
                </div>
            </div>
        </div>
    </div>
    {% include "title_bar.html" %}
    <div class="row">
        <div class="col-xs-12 services-container">
            <div class="row" id="services">
                {% for service in services %}
                    {% include "service_image.html" %}
                    {% include "service_text.html" %}
                {% endfor %}
            </div>
            <div class="row bg-dark-blue" id="videos">
                <div class="col-xs-12 content-text-padding">
                    <h3 class="videos-title">{{ strings.videos_title }}</h3>
                    {% include "videos_playlist.html" %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js_link %}
<script src="{{ __base_uri }}/lib/mediaelement-4.2.7/build/mediaelement-and-player.min.js"></script>
<script src="{{ __base_uri }}/js/videos.{{ __js_src_mode }}.js?v={{ __js_src_version }}" defer></script>
{# Add any other renderers you need; see Use Renderers for more information #}

<script>
(function($) {
    // fix service img layer positions
    var updateServiceImgH = function() {
        $(".service-image").each(function() {
            var parent = $(this);
            var h = parent.height();
            parent.find(".service-image__full-layer__img").css("height", h + 1);
        });
    };
    $(window).load(updateServiceImgH);
    $(window).resize(updateServiceImgH);
})(jQuery);
</script>
{% endblock %}
