{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main class="partners">
    <div class="row bg-dark-blue">
        <div class="col-xs-12 partners-content content-text-padding">
            <div class="row">
                {% for content in contents %}
                <div class="col-xs-12 partners-entry">
                    {% if content.get_title|length > 0 %}
                        {% if content.get_content|length == 0 %}

                        <h1 class="partners-content-entry-title">{{ content.get_title }}</h1>

                        {% else %}

                        <h2 class="partners-content-entry-title" id="{{ content.get_html_id }}">{{ content.get_title }}</h2>

                        {% endif %}
                    {% endif %}
                    
                    <div class="felling-content-entry-text">
                                
                        {% if not content.is_html %}

                        <p>{{ content.get_content }}</p>

                        {% else %}

                        {{ content.get_content|raw }}

                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 pbm">
                    <a href="https://zeckit.com/selvitys/FI/2899706-8?lang={{__lang|lower}}" target="_blank"><img alt="Zeckit Luotettava Kumppani" src="https://zeckit.com/selvitys/widget/badge/FI/2899706-8.png" /></a>
                </div>
                <div class="col-xs-6 col-sm-4 pbm ptm">
                    <img class="img-responsive" src="{{ __base_url }}/data/img/lk.jpg" alt="Luotettava Kumppani" title="Luotettava Kumppani -yritys"/>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
