{% extends "base.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}
<main class="felling">
    <div class="row bg-dark-blue">
        <div class="col-xs-12 felling-content content-text-padding">
            <div class="row">
                {% for content in contents %}
                <div class="col-xs-12 felling-content-entry">
                    <div class="row">
                        {% if content.get_image_uri|length > 0 %}
                        <div class="col-xs-5">
                            <img src="{{ __base_uri }}{{ answer.get_image_uri }}" class="img-responsive" alt="">
                        </div>
                        {% endif %}
                        <div class="col-xs-{{ content.get_image_uri|length > 0 ? "7" : "12" }}">
                            {% if content.get_title|length > 0 %}
                                {% if content.get_content|length == 0 %}
                                <h1 class="felling-content-entry-title">{{ content.get_title }}</h1>
                                {% else %}
                                <h2>{{ content.get_title }}</h2>
                                {% endif %}
                            {% endif %}
                            <div class="felling-content-entry-text">
                                {% if not content.is_html %}
                                    <p>{{ content.get_content }}</p>
                                {% else %}
                                    <p>{{ content.get_content|raw }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-12 text-center pbm">
                    <a class="btn btn-lg btn-primary bg-orange text-uppercase" href="#contact"><strong>{{ strings.contact_us }}</strong></a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
