<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
        <p>
            <span aria-hidden="true" class="glyphicon glyphicon-ok"></span> {{ strings.success_text }}
        </p>
        <p>
            {{ strings.select_prompt }}
        </p>
        <div class="mbm">
            <a class="btn btn-default" data-login-success href="{{ __management_url }}/{{ __lang }}/work_list">{{ strings.list_view }}</a>
        </div>
        <div>
            <a class="btn btn-default" data-login-success href="{{ __management_url }}/{{ __lang }}/work_table">{{ strings.table_view }}</a>
        </div>
    </div>
</div>
