<div class="row bg-orange">
    <div class="col-xs-12 nav-container">
      <div class="container-fluid">
        <div class="row">
            <div class="logo-container">
              <a href="{{ __base_uri }}/{{ __lang }}" class="logo-wrapper-link">
                <img class="img-responsive nav-container__logo-img" alt="{{ __contact_info.name }}" src="{{ __header_logo_uri }}">
              </a>
            </div>
            <div class="navbar-mobile-container bg-green navbar-toggle-img-btn-container text-center">
              <button type="button" class="navbar-toggle-img-btn flyout-toggle img-btn" data-toggle="flyout" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <img alt="Nav" src="{{ __base_uri }}/data/img/hamburger.png" class="navbar-toggle-img">
              </button>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
</div>