<div class="row bg-orange">
    <div class="col-xs-12 nav-container">
      <div class="container-fluid">
        <div class="row">
            <div class="logo-container">
              <a href="{{ __base_uri }}/{{ __lang }}"><img class="img-responsive" alt="{{ __contact_info.name }}" src="{{ __header_logo_uri }}"></a>
            </div>
            <div class="navbar-container hidden-xs hidden-sm hidden-md bg-green">
                <div class="navbar-default navbar-nav navbar-padded bg-green text-right">
                  <ul class="nav navbar-nav lupa-nav-links">
                {% for link in __nav_links %}
                    <li {{ link.is_active ? "class='active'" : "" }}><a href='{{ __base_uri }}/{{ __lang }}/{{ link.get_action }}' title="{{ link.get_text }}">{{ link.get_text }}<span class="sr-only"> (current)</span></a></li>
                {% endfor %}
                  </ul>
                </div>
            </div>
            <div class="navbar-mobile-container hidden-lg bg-green navbar-toggle-img-btn-container text-center">
              <button type="button" class="navbar-toggle-img-btn flyout-toggle img-btn" data-toggle="flyout" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <img alt="Nav" src="{{ __base_uri }}/data/img/hamburger.png" class="navbar-toggle-img">
              </button>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
</div>