<div class="row light">
    <div class="col-xs-12 service-container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 text-right service-text">
                <h3>{{ service.get_title }}</h3>
            {% for p in service.get_text_paragraphs %}
                <p>{{ p }}</p>
            {% endfor %}
            </div>
            
            <div class="col-xs-12 col-sm-6 service-img">
                <div class="service-carousel">
                {% for img_uri in service.get_img_uris %}
                    <div>
                        <img src="{{ img_uri }}" alt="" class="pull-left" title="{{ service.get_title }}">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
