<div class="row brown">
    <div class="col-xs-12 service-container left">
        <div class="row">
            <div class="col-xs-12 col-sm-6 service-text">
                {% include "service_text.html" %}
            </div>
            
            <div class="col-xs-12 col-sm-6 service-img">
                <div class="service-carousel row">
                {% for img_uri in service.get_img_uris %}
                    <div class="col-xs-12">
                        <img src="{{ img_uri }}" alt="" class="pull-left" title="{{ service.get_title }}">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
