{% set text_side = "r" %}
<div class="row service-row">
    <div class="col-xs-12 service-container right">
        <div class="row">
            <div class="col-xs-12">
                <div class="service-img">
                    <img src="{{ service.get_img_uris.0 }}" alt="" title="{{ service.get_title|striptags }}">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 service-text">
                    {% include "service_text.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
