<div class="row">
    <div class="col-xs-6 title-bar title-bar-left">
        <div class="row">
            <div class="col-xs-5 title-bar-decor title-bar-decor-left">&nbsp;<br>&nbsp;</div>
            <div class="col-xs-7 text-center title-bar-title-left">
                <a href="#services">
                    <span class="title-bar-title-text title-bar-title-text-left">{{ strings.services_title }}</span><br>
                    <small class="title-bar-subtitle title-bar-subtitle-left">{{ strings.services_subtitle }}</small>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 title-bar title-bar-right bg-dark-blue">
        <div class="row">
            <div class="col-xs-7 text-center title-bar-title-right">
                <a href="#videos">
                    <span class="title-bar-title-text title-bar-title-text-right">{{ strings.videos_title }}</span><br>
                    <small class="title-bar-subtitle title-bar-subtitle-right">{{ strings.videos_subtitle }}</small>
                </a>
            </div>
            <div class="col-xs-5 title-bar-decor title-bar-decor-right">&nbsp;<br>&nbsp;</div>
        </div>
    </div>
</div>