{% extends "base_management.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}

{% set order_dir_link = order_dir == "desc" ? "asc" : "desc" %}
{% set order_dir_title = order_dir_link == "desc" ? "Click to order latest first" : "Click to order oldest first" %}

<main class="work-list">
    <div class="row bg-dark-blue">
        <div class="col-xs-12 faq-content content-text-padding">
            <h1 class="faq-title">{{ strings.page_title }}</h1>
            <div class="row">
                <div class="col-xs-12 faq-content content-text-padding">
                    <strong>View by state:</strong>
                    <a href="{{ __management_url }}/work_table/STATE_NEW" class="work-state-nav-link {{ state_filter == 'STATE_NEW' ? 'active' : '' }}">New</a>
                    <a href="{{ __management_url }}/work_table/STATE_IN_PROGRESS" class="work-state-nav-link {{ state_filter == 'STATE_IN_PROGRESS' ? 'active' : '' }}">In progress</a>
                    <a href="{{ __management_url }}/work_table/STATE_HALTED" class="work-state-nav-link {{ state_filter == 'STATE_HALTED' ? 'active' : '' }}">Declined</a>
                    <a href="{{ __management_url }}/work_table/ARCHIVE" class="work-state-nav-link {{ is_archive ? 'active' : '' }}">Archived</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 work-table-content work-items content-text-padding">
            <table class="table table-striped bg-white mtm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th><a href="{{ __management_url }}/work_table/{{ state_filter }}/ts_created/{{ order_dir_link }}" title="{{ order_dir_title }}">Created</a></th>
                        <th><a href="{{ __management_url }}/work_table/{{ state_filter }}/ts_state/{{ order_dir_link }}" title="{{ order_dir_title }}">Changed</a></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    
                    <tr data-work-list-item="{{ item.get_id }}">
                        <td>{{ item.get_id }}</td>
                        <td>{{ item.get_name }}</td>
                        <td>{{ item.get_email }}</td>
                        <td>{{ item.get_subject }}</td>
                        <td title="{{ item.get_message }}">{{ item.get_message|slice(0,10) }}&hellip;</td>
                        <td>{{ item.get_datetime_created }}</td>
                        <td>{{ item.get_datetime_state }}</td>
                        <td>
                            <button class="btn btn-success btn-state-action" data-item="{{ item.get_id }}" data-item-action="{{ item.get_state_action }}">{{ item.get_state_action }}</button>
                            
                            {% if item.is_archivable %}
                            
                            <button class="btn btn-warning btn-state-action" data-item="{{ item.get_id }}" data-item-action="archive">Archive</button>
                            
                            {% endif %}
                            
                            {% if item.is_haltable %}
                            
                            <button class="btn btn-danger btn-state-action mtm" data-item="{{ item.get_id }}" data-item-action="halt">Decline</button>
                            
                            {% endif %}
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
