{% extends "base_management.html" %}
{% block title %}{{ strings.page_title }}{% endblock %}

{% block content %}

{% set order_dir_link = order_dir == "desc" ? "asc" : "desc" %}
{% set order_dir_title = order_dir_link == "desc" ? "Click to order latest first" : "Click to order oldest first" %}

<main class="work-list">
    <div class="row bg-dark-blue">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 faq-content content-text-padding">
                    <h1 class="faq-title">{{ strings.page_title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 faq-content content-text-padding mtm mbm">
                    <strong>View by state:</strong>
                    <a href="{{ __management_url }}/work_list/STATE_NEW" class="work-state-nav-link {{ state_filter == 'STATE_NEW' ? 'active' : '' }}">New</a>
                    <a href="{{ __management_url }}/work_list/STATE_IN_PROGRESS" class="work-state-nav-link {{ state_filter == 'STATE_IN_PROGRESS' ? 'active' : '' }}">In progress</a>
                    <a href="{{ __management_url }}/work_list/STATE_HALTED" class="work-state-nav-link {{ state_filter == 'STATE_HALTED' ? 'active' : '' }}">Halted</a>
                    <a href="{{ __management_url }}/work_list/ARCHIVE" class="work-state-nav-link {{ is_archive ? 'active' : '' }}">Archived</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bg-white work-list-content work-items content-text-padding">
                    {% for item in items %}

                    <div class="row work-list-item" data-list-item="{{ item.get_id }}">
                        <div class="col-xs-12 ptm pbm">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="row mtm">
                                        <div class="col-xs-12">
                                            <span>{{ item.get_name }} / {{ item.get_subject }} / {{ item.get_email }} / {{ item.get_message }}</span>
                                        </div>
                                    </div>
                                    <div class="row mtm text-center">
                                        
                                        {% if item.get_state_action %}
                                        
                                        <div class="col-xs-4 col-sm-4 ptm">
                                            <button class="btn btn-success btn-state-action" data-item="{{ item.get_id }}" data-item-action="{{ item.get_state_action }}">{{ item.get_state_action }}</button>
                                        </div>
                                        
                                        {% endif %}
                                        
                                        {% if item.is_archivable %}
                                        
                                        <div class="col-xs-4 col-sm-4 ptm">
                                            <button class="btn btn-warning btn-state-action" data-item="{{ item.get_id }}" data-item-action="archive">Archive</button>
                                        </div>
                                        
                                        {% endif %}
                                        
                                        {% if item.is_haltable %}
                                        
                                        <div class="col-xs-4 col-sm-4 ptm mbm">
                                            <button class="btn btn-danger btn-state-action" data-item="{{ item.get_id }}" data-item-action="halt">Halt</button>
                                        </div>
                                        
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <label for="notesInput">Notes</label>
                                    <textarea class="form-control" id="notesInput" data-item-notes data-item="{{ item.get_id }}">{{ item.get_notes }}</textarea>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <span class="work-list-item-details__term">ID number</span>
                                    <span class="work-list-item-details__value" title="{{ item.get_message }}">{{ item.get_id }}</span>
                                    <br>
                                    <span class="work-list-item-details__term"><a href="{{ __management_url }}/work_list/{{ state_filter }}/ts_created/{{ order_dir_link }}" title="{{ order_dir_title }}">Created</a></span>
                                    <span class="work-list-item-details__value">{{ item.get_datetime_created }}</span>
                                    <br>
                                    <span class="work-list-item-details__term"><a href="{{ __management_url }}/work_list/{{ state_filter }}/ts_state/{{ order_dir_link }}" title="{{ order_dir_title }}">Changed</a></span>
                                    <span class="work-list-item-details__value">{{ item.get_datetime_state }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
